<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjtlu.monitor.mapper.MethodMapper">

    <resultMap id="BaseResultMap" type="com.xjtlu.monitor.pojo.Method">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="methodInput" column="method_input" jdbcType="VARCHAR"/>
            <result property="methodName" column="method_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,method_input,method_name
    </sql>
</mapper>
